/* белый #FFFFFF*/
/* акцент #2196F3*/
/*черный hero&fotter #2F303A*/
/*титулы черный #212121*/
/*черный логотип #000000*/
/* серый текст #757575 */
/* вторичный белый #F5F5F5 */
/* оттенок белого команда #F5F4FA */
/* цвет контактов футер белый rgba(255, 255, 255, 0.6) */
/* active button color  #188CE8*/
:root {
  --bg_color: #141429;
  --title_color: #fff;
  --font: "Risque", sans-serif;
  --second_font: "Roboto", sans-serif;
  --text-color: #c4c4c4;

  --accent-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #fff;
  --secondary-white-color: #f5f4fa;
  --primary-black-color: #000000;
  --secondary-black-color: #2f303a;
  --btn-hero-color: #188ce8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font: 400 16px / 1.178 var(--second_font);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  transition: 0.3s ease-in-out;
}

h1 {
  font: 400 52px var(--font);
  line-height: 1.178;
  color: var(--title_color);
}

h2 {
  font: 400 52px var(--font);
  line-height: 1.178;
  color: var(--title_color);
}

h3 {
  font: 400 42px var(--font);
  line-height: 1.178;
  color: var(--title_color);
}

h4 {
  font: 400 28px var(--font);
  line-height: 1.178;
  color: var(--title_color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 460px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Section Hero */

.section_hero {
  background: var(--bg_color);
  position: relative;
  overflow: hidden;
}

.section_hero .decoration_stars {
  position: absolute;
  top: 0;
  right: 0;
}
.section_hero .decoration_snow {
  position: absolute;
  top: 50px;
  right: 40px;
}

.section_hero .img_wrapper {
  position: relative;
}

.section_hero .img_wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_hero .content_block {
  padding: 220px 0 0;
}
.section_hero h1 {
  margin: 0 0 13px;
}
.section_hero .sub_title {
  font-family: var(--font);
  font-size: 28px;
  line-height: 1.15;
  font-weight: 400;
  color: var(--primary-white-color);
  margin: 0 0 43px;
}
.section_hero .btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 77px;
}
.section_hero .btn_wrap a {
  display: inline-block;
  padding: 12.5px 40.5px;
  font-size: 16px;
  line-height: 1.17;
  border-radius: 20px;
  border: 2px solid var(--primary-white-color);
  border-bottom-left-radius: 0;
  color: var(--text-color);

  background: linear-gradient(to right, #d02b2b 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.section_hero .btn_wrap a:hover {
  background-position: left bottom;
}

/* =====  Mountain Section  ===== */
.section_mountain {
  position: relative;
  overflow: hidden;
}

.section_mountain .bg_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.section_mountain .bg_image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_mountain .content_wrapper {
  padding: 94px 0 120px;
}

.section_mountain h2 {
  margin: 0 0 25px;
}

.section_mountain .icon_wrap {
  margin: 0 0 74px;
}

.section_mountain .icon_wrap h4 {
  margin: 0 0 34px;
}

.section_mountain .icon_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
}

.section_mountain .icon_item:nth-child(1) {
  border: 5px solid var(--primary-white-color);
  background: transparent;
}

.section_mountain .icon_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.25) inset;
  background: var(--primary-white-color);
}

.section_mountain .icon_item img {
  display: block;
  max-width: 90px;
  max-height: 90px;
  object-fit: contain;
}

.section_mountain .img_wrap {
  max-width: 136px;
  margin: 0 auto 20px;
}

.section_mountain .img_wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_mountain .text_block {
  max-width: 301px;
  margin: 0 auto;
}

.section_mountain .text_block h3 {
  margin: 0 0 30px;
}

.section_mountain .text_block p {
  color: var(--primary-white-color);
  font-size: 28px;
  margin: 0;
}

/* =====  FOOTER  ===== */
.footer {
  position: relative;
  overflow: hidden;
}

.footer .footer_img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.footer .footer_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer .content_block {
  padding: 133px 0 75px;
}

.footer .content_block h2 {
  margin: 0 0 24px;
}

.footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer input,
.footer textarea {
  border: 3px solid #ffffff;
  border-radius: 15px;
  background: transparent;
  padding: 15px 26px;
  width: 100%;
  margin: 0 0 24px;

  font-family: var(--second_font);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  color: var(--primary-white-color);
  outline: none;
}

.footer input::placeholder,
.footer textarea::placeholder {
  font-family: var(--second_font);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  color: var(--primary-white-color);
}

.footer input {
  height: 50px;
}

.footer label {
  display: flex;
  width: 100%;
}

.footer .block_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Select */

.footer .custom-select select {
  border: 3px solid #ffffff;
  border-radius: 15px;
  background: transparent;
  padding: 15px 26px;
  width: 100%;
  margin: 0 0 24px;

  font-family: var(--second_font);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  color: var(--primary-white-color);
  outline: none;
}

/* Checkbox */

.footer .checkbox_group {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer .checkbox_group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.footer .checkbox_group label {
  position: relative;
  cursor: pointer;
  color: var(--primary-white-color);
  font-size: 18px;
}

.footer .checkbox_group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #d02b2b;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 7px;
}

.footer .checkbox_group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 6px;
  height: 10px;
  border: solid #d02b2b;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.footer .checkbox_group input:checked + label:before {
  background-color: var(--primary-white-color);
}
